<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/geovoice_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/geovoice_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoVoice">
        <activity
            android:name=".places.en.MainActivityEn"
            android:exported="false" />
        <activity
            android:name=".places.bashkort.MainActivityBash"
            android:exported="false" />
        <activity
            android:name=".places.bashkort.ThirdPlaceBash"
            android:exported="false" />
        <activity
            android:name=".places.bashkort.SecondPlaceBash"
            android:exported="false" />
        <activity
            android:name=".places.bashkort.FirstPlaceBash"
            android:exported="false" />
        <activity
            android:name=".places.en.ThirdPlaceEn"
            android:exported="false" />
        <activity
            android:name=".places.en.SecondPlaceEn"
            android:exported="false" />
        <activity
            android:name=".places.en.FirstPlaceEn"
            android:exported="false" />
        <activity
            android:name=".CongradulationsActivity"
            android:exported="false" />
        <activity
            android:name=".places.ru.ThirdPlaceActivityRu"
            android:exported="false" />
        <activity
            android:name=".places.ru.SecondPlaceActivityRu"
            android:exported="false" />
        <activity
            android:name=".places.ru.FirstPlaceActivityRu"
            android:exported="false" />
        <activity
            android:name=".places.ru.MainActivityRu"
            android:exported="false" />
        <activity
            android:name=".HelloActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>